.sign-in-container {
  display: flex;
  flex-direction: column;
  width: 380px;

  h2 {
    margin: 10px 0;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    .sign-in-button {
      width: 180px;
      height: 50px;

      color: white;
      background-color: black;
      &:hover {
        opacity: 0.8;
      }
    }
    .google-button {
      width: 180px;
      height: 50px;

      color: white;
      background-color: rgb(60, 60, 240);
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
